@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --container: 255, 255, 255;

  --border: 222, 221, 226;
  --card: 251, 251, 251;
  
  
  --color: 000;
  --negitaive-color:255, 255, 255;
  background-color: #fff;

}

.dark {
  --background:37, 35, 41;

  --border: 62, 59, 69;
  --card: 25, 24, 27;
  /* #1E421D */

  --copy-primary: 251, 251, 251;
  --copy-secondary: 164, 159, 172;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255;
  border:rgba(border);
  background: rgba(var(--background));
  color: #FFF;
  --negitaive-color:0, 0, 0

}
.sideNav{
  transition: all ease .4s;
}
.sideNav .sidenav-text{
  overflow-x: hidden;
  width: 0px;
  transition: all ease .4s;

}