@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --container: 255, 255, 255;

  --border: 222, 221, 226;
  --card: 248, 248, 248;
  
  
  --color: 0, 0, 0;
  --negitaive-color:255, 255, 255;
  background-color: #fff;

}

.dark {
  --background:37, 35, 41;

  --border: 62, 59, 69;
  --card: 25, 24, 27;
  /* #1E421D */

  --copy-primary: 251, 251, 251;
  --copy-secondary: 164, 159, 172;

  --color: 255, 255, 255;
  --negitaive-color:0, 0, 0;
  background: rgba(var(--background));
}
.sideNav{
  transition: all ease .4s;
}
.sideNav .sidenav-text{
  overflow-x: hidden;
  width: 0px;
  transition: all ease .4s;

}

.default-shadow{
  box-shadow: 0px 0px 5px rgba(var(--color));
}