@import 'tailwindcss';
:root{
  --container: 255, 255, 255;

  --border: 222, 221, 226;
  --card: 248, 248, 248;
  
  
  --color: 63, 64, 64;
  --side-nav: 49, 49, 49, 1;
  --negitaive-color:255, 255, 255;
  background-color: #fff;
}
@theme {
  --blur: 0px;
  --blur-sm: 0px;
  --blur-md: 0px;
  --blur-lg: 0px;

  --color-foreground: var(--foreground);
  --color-primary: #0BA6DF;
  --color-secondary: #4FB7B3;
  --color-background: var(--background);
  --color-container: rgba(var(--container));
  --color-border: rgba(var(--border));
  --color-card: rgba(var(--card));
  --color-side-nav: rgba(var(--side-nav));
  --color-color: rgba(var(--color));
  --color-negitaive-color: rgba(var(--negitaive-color)) !important;

  --height-custom-screen: calc(100vh-64px);

  --background-image-login-image: url('/Login.png');
}
button{
  cursor: pointer;
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: "NewRiyal-Regular";
  src: local("NewRiyal-Regular"), url("/fonts/NewRiyal-Regular.otf") format('truetype');
}

.light {
  --container: 255, 255, 255;

  --border: 222, 221, 226;
  --card: 248, 248, 248;
  
  
  --color: 63, 64, 64;
  --side-nav: 49, 49, 49, 1;
  --negitaive-color:255, 255, 255;
  background-color: #fff;

}
.tw-blur, .blur, .blur-sm, .blur-md, .blur-lg {
  filter: none !important; /* Removes any blur effect */
}
.dark {
  --background:37, 35, 41;

  --border: 62, 59, 69;
  --card: 25, 24, 27;
  /* #1E421D */

  --copy-primary: 251, 251, 251;
  --copy-secondary: 164, 159, 172;

  --color: 255, 255, 255;
  --negitaive-color:0, 0, 0;
  background: rgba(var(--background));
  --side-nav: 49, 49, 49

}
.sideNav{
  transition: all ease .4s;
}
.sideNav .sidenav-text{
  overflow-x: hidden;
  width: 0px;
  transition: all ease .4s;

}

.default-shadow{
  box-shadow: 0px 0px 7px rgba(var(--color));
}



.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes fadein {
  from {width: 60px; height: 60px;}
  to {width: 300px; height: auto;}
}

.inputImage {
  width: 60px;
  height: 60px;
}

.fade-in {
animation: fadein 0.35s ease forwards;
}
.preview-image:hover div{
  display: flex !important;
}



.OverLayDetailsContainer{
  background-color: #fff;
  position: fixed;
  margin: 10px;
  box-shadow: 0px 0px 10px #000;
  bottom: 0;
  left: 0;
  right: 0px;
  /* z-index: 2; */
  overflow: auto;
  border-radius: 10px;
  padding: 20px;
  transition: all .4s ease-in-out;
}
.swiper-pagination{
  position: relative !important;
  margin-top: 40px;
}
.showOverLayDetails{
  top:0px;
}
.hideOverLayDetails{
  top:100%;
}



.swiper-pagination-bullet-active {
  background: #0BA6DF !important; 
  color: #0BA6DF ; 

  width: 20px !important;
  height: 10px;
  border-radius: 8px !important;
}
.swiper-button-next{
  margin-left: -10px;
}
.swiper-button-prev{
  margin-right: -10px;
}
.swiper-button-next, .swiper-button-prev {
  color: #BDBFBF !important ; 
}

/* Optional: Change hover color */
.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #BDBFBF !important ; 
}








/*Scroll bar nav*/
.side-nav-ul::-webkit-scrollbar {
  width: 0px;
}

/* Track */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #0BA6DF;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #0BA6DF;
}



.overlay-fn-keys{
  position: fixed;
  background-color: #fff;
  transition: all .5s ease .3s;
}
.overlay-fn-keys-active{
  top: 78%;
}
.overlay-fn-keys-hidden{
  top: 101%;
}




.select-wrapper {
  position: relative !important;
}

.select-wrapper::after {
  content: "▼" !important;
  top: 6px  !important;
  right: 10px !important;
  position: absolute !important;
}

.login-container{
  background-image: url('/Login-container.png');
  background-size: cover;
  background-attachment: fixed;
  animation: scale .3s linear;
}

@keyframes scale {
  from{
      transform: scale(.5);
  }
  to{
      transform: scale(1);
  }
}


.large-table-cell div{
  max-height: 0px;
  max-width: 0px;
  transition: all .5s ease-in;
  overflow: hidden;
  /* display: none; */
}
.large-table-cell:hover div{
  height: min-content;
  max-height:200px;
  overflow-y: auto;
  max-width:1200px;
  top:0;
  /* display: block; */
}
.large-table-cell div::-webkit-scrollbar {
  width: 2px;
  background-color: #0BA6DF;
}


.riyal-font {
  font-family: NewRiyal-Regular !important
}

.tooltip-content {
    white-space: pre-wrap;
    max-width: 300px;
    text-align: left;
}